.App {
  text-align: center;
}

table{
  background-color: orange;
  width: 400px;
  height: 400px;
  margin: auto;
}
input{
  width: 80%;
  height: 70%;
}
button{
  width: 70%;
  height: 50%;
  border-radius: 5px;
}

button:hover{
  background-color: red;
}